.vs/
*.vsidx
*.suo
*.user
*.userosscache
*.sln.docstates
*.vsidx
FileContentIndex/

# Build klasörleri
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# Visual Studio 2022 özel
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/
.vscode/
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc